pipeline/Bulk Copy from Files to Database.json
{
	"name": "Bulk Copy from Files to Database",
	"properties": {
		"activities": [
			{
				"name": "Get Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetMetadataDataset1",
						"type": "DatasetReference",
						"parameters": {
							"SourceContainer": {
								"value": "@pipeline().parameters.SourceContainer",
								"type": "Expression"
							},
							"SourceDirectory": {
								"value": "@pipeline().parameters.SourceDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyFiles",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset1",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"SourceContainer": {
											"value": "@pipeline().parameters.SourceContainer",
											"type": "Expression"
										},
										"SourceDirectory": {
											"value": "@pipeline().parameters.SourceDirectory",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlDatabaseSinkDataset1",
									"type": "DatasetReference",
									"parameters": {
										"sinkTableName": {
											"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.fullpath",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"parameter01": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceContainer": {
				"type": "string",
				"defaultValue": "source"
			},
			"SourceDirectory": {
				"type": "string",
				"defaultValue": "dir"
			}
		},
		"variables": {
			"variables01": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-03T08:47:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}